body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #ebe4f8;
  font-family: Arial, sans-serif;
  margin: 0;
}

.calculator {
  background: #262626;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
  width: 320px;
}

@font-face {
  font-family: 'Digital-7 Mono';
  src: url('fonts/digital-7 (mono).ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#display {
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
  font-family: 'Digital-7 Mono', monospace;
  text-align: right;
  font-size: 35px;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background: #000;
  color: rgb(0, 225, 255);
  text-shadow: 0 0 2px #00eaff;
  box-sizing: border-box;

  overflow-x: auto; /* leidzia horizontalia slinkti */
  overflow-y: hidden;/* slepia vertikalia slinkti */
  white-space: nowrap;/* viskas viena eilute */
  direction: ltr; /* tekstas eina is kaires i desine */
  transition: font-size 0.1s ease;
  scrollbar-width: none;  /* paslepia scrollbar Firefox */
}

#display::-webkit-scrollbar {
  display: none;         
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 60px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
  background: #444;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #555;
}

button.ac {
  background: #4589c9;
  color: #1a223b;
  font-weight: 700;
}

button.del {
  background: #64b2f7;
}

button.equal {
  background: #976ff6;
}

button.plus {
  background: #666;
}
