body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #202020;
  font-family: Arial, sans-serif;
  margin: 0;
}

.calculator {
  background: #262626;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
  width: 320px;
}

#display {
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
  text-align: right;
  font-size: 24px;
  border: none;
  border-radius: 10px;
  background: #000;
  color: rgb(0, 225, 255);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 60px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
  background: #444;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #555;
}

button.ac {
  background: #4589c9;
  color: #13255a;
  font-weight: 700;
}

button.c {
  background: #64b2f7;
}

button.equal {
  background: #976ff6;
}

button.plus {
  background: #666;
}
